#oper{
    background-image: url('../ImageFolder/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
   height: 100vh;
}

#op{
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;
}
#lo{
background-color: rgb(255, 255, 255,0.5);
border: 2px solid brown;
border-radius: 4px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;
width: 25%;
height:25%;
}
#btn{
    margin-top: 15px;
    background-color: bisque;
    color: black;
    width: 75px;
    height: 25px;
}
#inp{
    border-radius: 5px;
    background-color: white;
}