#ram{
    height: 80vh;
    background-image: url('../ImageFolder/logo11.png');
    background-size: cover;
    height: 100vh;
}
#Shyam{

    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    background-color: black;
}

.butter{
    background-color: rgb(18, 155, 79);
    width:80px;
    height: 40px;
    font-size: small;
}