*{
    margin:0px;
    padding:0px;
}
#about1 {
    text-align: center;
    top:0;
    margin: 0;
    padding: 0;
    background-color: rgb(33, 36, 35);
    color: rgb(231, 100, 100);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height:100px;
    align-items: center;
}

#we {
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
    height:100px;
    text-align: center;
}

#pid {
    background-color: rgb(33, 36, 35);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(231, 100, 100);
}

#pid :hover {
    letter-spacing: 2px;
    cursor: pointer;
}

#para {
    padding: 30px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: bisque;
}

#para1 {
    padding: 30px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: bisque;
}

#para2 {
    padding: 30px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: bisque;
}