.error-msg {
    color: red;
}

.main {
    
    background-image: url('../ImageFolder/vote.jpg');
    background-size: cover;
    min-height: 100vh;
    background-position:center;
    -webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
    
}

.regForm {
    text-align: center;
    font-size: medium;
    border-radius: 15px;
    color: white;
    font-weight: bolder;
}
.Create {
    font-size: x-large;
    font-weight: 500;
    color: rgb(243, 58, 44);
    margin-bottom: 30px;
}

input {
    border-radius: 0px;
    margin: 10px 0 0 0;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    width:20%;
}

.button {
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
    background-color: rgb(211, 230, 144);

}

.button:hover {
    cursor: pointer;
    color: rgb(83, 70, 70);
    letter-spacing: 1px;
}


