*{
    margin:0px ;
    padding:0px;
}
 
.butter{
    background-color: rgb(18, 155, 79);
    width:80px;
    height: 40px;
    font-size: small;
}

#him1 {
    margin-top: 50px;
    width: 80%;
    margin: 10px;
}

#him2{
    border: 2px solid black;
    width: 100%;
    background: rgba(2, 34, 44, 0.7);
}
td,th{
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background: rgba(172, 82, 17, 0.5);
    color: white;
}
#himer{
    width:100%;
    margin: 10px;
    
    
}
#him3{
    border: 2px solid black;
    width: 100%;
    background: rgb(72, 213, 16,0.7);
}
#ram{
    
    background-image: url('../ImageFolder/logo11.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    min-height: 100vh;
    height:auto;
    
    
}

#him4{
    border: 2px solid black;
    width: 100%;
    background: rgba(16, 213, 101, 0.7);
}

#name {
    font-size: medium;
    padding-left: 0px;
    width: 30%;
    margin-left: 0px;
}
#ravi{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    flex-direction: column;
    height: auto;
   
}
.butter1{
    background-color: rgb(18, 155, 79);
    width: 100px;
    height: 40px;
    font-size: small;
}

.butter2{
    background-color: rgb(18, 155, 79);
    width: 200px;
    height: 40px;
    font-size: small;
}
