body {
    background-image: url("../ImageFolder/voter.png");
    background-size: cover;
  }
  
  #b1 {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    padding: 30px;
    line-height: 2.5rem;
    min-height: 100vh;
    font-size: larger;
    font-weight: bolder;
    margin: auto;
  }
  #b1 {
    width: 100vw;
    height: auto;
    overflow: scroll;
  }
  #b2 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(188, 124, 29, 0.7);
    width: 80%;
  }
  /* button{
      background-color: bisque;
      color:black;
      width:50px;
      height: 25px; 
      
  } */
  /* button:hover {
      cursor: pointer;
      color: rgb(43, 255, 0);
    } */
  .t {
    height: 50px;
    width: 100px;
    margin: 10px;
    background-color: bisque;
    border-radius: 4px;
  }
  .t:hover {
    cursor: pointer;
    color: orange;
    font-size: large;
    font-weight: bolder;
  }
  .jack {
    background-color: red;
    color: white;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
  }
  
  #ema {
    padding-left: 0px;
    width: 30%;
    margin-left: 0px;
    height: 5%;
  }
  
  #name {
    margin-left: 50px;
    height: 35px;
    width: 20%;
  }
  #hello {
    border: 2px solid black;
    border-radius: 5px;
    width: 15%;
    padding: 5px;
    margin: 5px;
    font-size: 70%;
  }
  #rating {
    position: sticky;
    bottom: 0%;
  }
  
  .query {
    width: 25%;
  }
  
  .map {
    margin-top: 5%;
  }