*{
    margin:0 px;
    padding:0 px;
}

#names{
    width:20%;
    background-color:rgb(161, 17, 17,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    /* background-image: url('../ImageFolder/voters1.jpg');  */
    background-position: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width:100vw;
}
#tabler{
    width:80%;
    background-color: brown;
    color:white;
    border: 2px solid white;
}


#btn-1{
    background-color: bisque;
    color: black;
    width: 75px;
    height: 25px; 
}

tbody, td, tfoot, th, thead, tr {
    margin:10px;
    padding: 10px;
    border: 1px solid white;
  }
  #organisation{
    color:cadetblue;
    font-weight:bolder;
  }