#ram{
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align: center;
    margin:auto;
    align-items:center;
}
#Shyam1{
    
    /* background-image: url('../ImageFolder/voters1.jpg'); */
    background-size: cover;
    min-height: 100vh; 
    height: auto; 
}

.butter{
    background-color: rgb(18, 155, 79);
    width:80px;
    height: 40px;
    font-size: small;
}

#him2{
    background-color: rgba(10, 2, 2, 0.5);
}