.error-msg {
    color: red;
}

.main {
    height: 80vh;
    background-image: url('../ImageFolder/logo11.png');
    background-size: cover;
    height: 100vh;
}

.regForm {
    text-align: center;
    font-size: medium;
    /* margin: 10%, 10%, 30%; */


    border-radius: 15px;
}

.Create {
    font-size: x-large;
    font-weight: 500;
    color: rgb(243, 58, 44);
    margin-bottom: 30px;
}

input {
    border-radius: 10px;
    margin: 10px 0 0 0;
    padding: 10px;
    background-color: rgb(210, 228, 160);
    text-align: center;
}

.button {
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
    background-color: rgb(211, 230, 144);

}

.button:hover {
    cursor: pointer;
    color: rgb(83, 70, 70);
    letter-spacing: 1px;
}